*{
margin:0;padding:0;

}
.carrossel{
width: 400px;
height:250px;
outline: 3px solid black;
overflow: hidden;
margin: 50px 10px;
box-shadow: 10px 10px 15px rgb(0,0,0,0,0);
}

.carrossel ul{
    display: flex;
    list-style: none;
    width: 1200px;
    height:250px;

    
}
.carrossel li{
position: relative;
animation: slide 15s infinite ease-out;
}

@keyframes slide{
     0%{left:0px}
     20%{left:0px}
  60%{left:-850px}
  90%{left:-800px}
  100%{left:0px}

}







